@import url(style.css);


.grid-item:nth-child(1), .grid-item:nth-child(5), .grid-item:nth-child(3){
    background-color: var(--colorPink4);
}

.grid-item:nth-child(4), .grid-item:nth-child(2), .grid-item:nth-child(6){
    background-color: var(--colorBlue2);
}

.grid-item:nth-child(7){
    background-color: var(--colorPurple7);
}

.grid-item:nth-child(8){
    background-color: var(--colorPurple7);
}

.grid-item:nth-child(9){
    background-color: var(--colorPurple7);
}

