@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(./resetCss.css);

/* Color: https://lospec.com/palette-list/mulfok32 */
:root {
	--colorGreen1: #5ba675;
	--colorGreen2: #6bc96c;
	--colorGreen3: #abdd64;
	--colorYellow1: #fcef8d;
	--colorOrange1: #ffb879;
	--colorRed1: #ea6262;
	--colorRed2: #cc425e;
	--colorRed3: #a32858;
	--colorPurple1: #751756;
	--colorPurple2: #390947;
	--colorPurple3: #611851;
	--colorPurple4: #873555;
	--colorPurple5: #a6555f;
	--colorPink1: #c97373;
	--colorPink2: #f2ae99;
	--colorPink3: #ffc3f2;
	--colorPink4: #ee8fcb;
	--colorPink5: #d46eb3;
	--colorPink6: #873e84;
	--colorBlack1: #1f102a;
	--colorPurple6: #4a3052;
	--colorPurple7: #7b5480;
	--colorPurple8: #a6859f;
	--colorGray1: #d9bdc8;
	--colorWhite: #ffffff;
	--colorBlue1: #aee2ff;
	--colorBlue2: #8db7ff;
	--colorBlue3: #6d80fa;
	--colorBlue4: #8465ec;
	--colorBlue5: #834dc4;
	--colorBlue6: #7d2da0;
	--colorBlue7: #4e187c;

	--colorPurple: #B695DA;
}


body {
	font-family: 'Roboto', sans-serif;
}

header {
	background-color: var(--colorBlack1);
	padding: 10px;
	text-align: center;
}

h1 {
	font-weight: bold;
	color: var(--colorWhite);
}

p {
	margin-top: 5px;
	color: var(--colorWhite);
}

.socials img {
	width: 30px;
	margin-top: 10px;
	filter: invert(100%);
	cursor: pointer;
}

.socials img:hover {
	filter: invert(80%);
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	gap: 20px;
	padding: 20px;
	z-index: 0;
}

.grid-item {
	background-color: var(--colorWhite);
	padding: 20px;
	height: 250px;
	text-align: center;
	border: 1px solid var(--colorGray1);
	position: relative;
	z-index: 0;
}

.icon-badge {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--colorBlack1);
	color: var(--colorWhite);
	width: 95%;
	padding: 5px 10px;
	font-weight: bold;
}

@media (max-width: 768px) {
	.grid-container {
		grid-template-columns: 1fr;
	}
}

.container {
	display: flex;
	justify-content: center;
	margin-top: 10%;
}

.github-corner {
	color: var(--colorBlack1);
	fill: var(--colorBlue3);
}

/* =================== 01: FRANKENSTEIN ================= */
.emoji-frankenstein {
	background-color: var(--colorGreen1);
	width: 98.4px;
	height: 98.4px;
	border-radius: 4px 4px 40px 40px; 
}

.emoji-frankenstein:after {
	content: "";
	position: absolute;
	background-color: var(--colorGreen2);
	width: 98.4px;
	height: 98.4px;
	border-radius: 4px 4px 40px 40px;
	margin-left: -35.2px;
}

.head-frankenstein {
	position: absolute;
	background-color: var(--colorBlack1);
	width: 98.4px;
	height: 25.6px; 
	border-radius: 4px 4px 0px 0px;
	margin-top: -16px;
	z-index: 3;
}

.head-frankenstein:after {
	content: "";
	position: absolute;
	background-color: var(--colorPurple6);
	width: 98.4px;
	height: 25.6px;
	border-radius: 0px 4px 0px 0px;
	margin-left: -35.2px;
}

.eyes-frankenstein {
	position: absolute;
	background-color: var(--colorWhite);
	width: 12px;
	height: 12px;
	border-radius: 48px;
	border: 4px solid var(--colorPurple6);
	z-index: 3;
	margin-top: 60px;
	margin-left: 24px;
}

.eyes-frankenstein:after {
	content: "";
	position: absolute;
	background-color: var(--colorWhite);
	width: 12px;
	height: 12px;
	border-radius: 48px;
	border: 4px solid var(--colorPurple6);
	z-index: 3;
	margin-top: -4px;
	margin-left: 36px;
}

.mouth-frankenstein {
	position: absolute;
	background-color: var(--colorPurple6);
	width: 34.4px;
	height: 8px;
	border-radius: 48px;
	z-index: 3;
	margin-top: 88px;
	margin-left: 41.6px;
}

.spike-frankenstein {
	background-color: var(--colorPurple8);
	position: absolute;
	width: 120px;
	height: 8px;
	z-index: -1;
	margin-left: -4px;
	margin-top: 80px;
}

.spike-frankenstein:after {
	content: "";
	background-color: var(--colorGray1);
	position: absolute;
	width: 16px;
	height: 8px;
	z-index: -1;
	margin-left: -68px;
	transform: rotate(90deg);
}

.spike-frankenstein:before {
	content: "";
	background-color: var(--colorGray1);
	position: absolute;
	width: 16px;
	height: 8px;
	z-index: -1;
	margin-left: 52px;
	transform: rotate(90deg);
}

.detail-frankenstein {
	position: absolute;
	background-color: var(--colorGreen2);
	width: 12px;
	height: 12px;
	border-radius: 48px;
	z-index: 5;
	margin-left: 20px;
	margin-top: 4px;
	box-shadow: 
	24px 0px 0px 0px var(--colorGreen2),
	48px 0px 0px 0px var(--colorGreen2),
	72px 0px 0px 0px var(--colorGreen2);
}

.scar-frankenstein {
	position: absolute;
	background-color: var(--colorPurple6);
	width: 56px;
	height: 4px;
	z-index: 10;
	margin-top: 24px;
	margin-left: 56px;
	border-radius: 20px;
}

.scar-frankenstein:after {
	content: "";
	position: absolute;
	background-color: var(--colorPurple6);
	width: 4px;
	height: 12px;
	z-index: 10;
	margin-top: -4px;
	margin-left: -20px;
	border-radius: 20px;
	box-shadow: 
	16px 0px 0px 0px var(--colorPurple6),
	32px 0px 0px 0px var(--colorPurple6);
}

.emoji-hand {
	background-color: var(--colorGreen1);
	width: 55.2px; 
	height: 55.2px;
	border-radius: 44.16px;
	margin-left: 40px;
	margin-top: 20px;
}

.emoji-hand:after {
	content: "";
	position: absolute;
	background-color: var(--colorGreen1);
	width: 16px; 
	height: 40px;
	margin-left: -24px;
	margin-top: -12px;
	border-radius: 16px;
	transform: rotate(-35deg); 
}

.emoji-hand:before {
	content: "";
	position: absolute;
	background-color: var(--colorGreen1);
	width: 16px; 
	height: 64px; 
	margin-left: 15.2px; 
	margin-top: 1px; 
	border-radius: 16px; 
	transform: rotate(55deg); 
}

.finger {
	background-color: var(--colorGreen2);
	position: absolute;
	width: 16px; 
	height: 32px;
	border-radius: 16px;
	z-index: 5;
	margin-left: 16px;
	margin-top: -9.6px;
	transform: rotate(45deg);
}

.finger:after {
	content: "";
	background-color: var(--colorGreen2);
	position: absolute;
	width: 16px;
	height: 32px;
	border-radius: 16px;
	z-index: 5;
	margin-left: 4.8px;
	margin-top: -8px;
}

.finger:before {
	content: "";
	background-color: var(--colorGreen2);
	position: absolute;
	width: 16px;
	height: 30px;
	border-radius: 16px;
	z-index: 5;
	margin-left: 20px;
	margin-top: -6.3px;
}

/* =================== 02: PARASITE ================= */
.cup {
	position: absolute;
	height: 148px;
	width: 170px;
	background-image:
	linear-gradient(
	  to bottom,
	  var(--colorGray1) 85%,
	  var(--colorPurple8) 10%,
	  var(--colorPurple8) 90%,
	  var(--colorGray1) 10%);
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	margin-top: 2%;
	clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
	overflow: hidden;
}

.cup:after {
	content: "";
	position: absolute;
	background-color: rgba(84, 75, 75, 0.1);
	height: 148px;
	width: 170px;
}

.lid {
	height: 40px;
	width: 180px;
	background-color: var(--colorPurple8);
	position: absolute;
	margin-top: -20px;
	border-radius: 5px;
}

.lid:after {
	content: "";
	background-color: var(--colorGray1);
	position: absolute;
	height: 30px;
	width: 100px;
	margin-left: -50px;
	margin-top: -25px;
	border-radius: 15px 15px 0px 0px;
	z-index: -1;
}

.shadow {
	background-color: var(--colorPurple7);
	width: 100%;
	height: 10px;
}

.tick {
	background-color: var(--colorBlue3);
	position: absolute;
	margin-left: 70px;
	margin-top: 10%;
	width: 30px;
	height: 60px;
	border-radius: 10px;
}

.tick:after {
	content: "";
	position: absolute;
	background-color: var(--colorWhite);
	width: 20px;
	height: 20px;
	border-radius: 50px;
	margin-left: -10px;
	margin-top: 10px;
	box-shadow: 
		8px 15px 0 -5px var(--colorBlue2),
		-8px 25px 0 -5px var(--colorBlue2);
}

.iris {
	position: absolute;
	background-color: var(--colorBlack1);
	width: 15px;
	height: 15px;
	margin-top: 13px;
	border-radius: 50px;
	margin-left: 7.5px;
	z-index: 10;
}

.iris:after {
	content: "";
	position: absolute;
	background-color: var(--colorWhite);
	width: 5px;
	height: 5px;
	border-radius: 50px;
}

.tick:before {
	content: "";
	position: absolute;
	background-color: var(--colorBlue3);
	width: 15px;
	height:15px;
	border-radius: 50px;
	margin-left: 7px;
	margin-top: 15px;
	box-shadow: 
		-30px 10px 0 0px var(--colorBlue3),
		-3px 20px 0 0px var(--colorBlue3);
}

.wavy-line {
	background-color: var(--colorBlue3);
	position: absolute;
	width: 30px;
	height: 20px;
	margin-top: 50px;
	border-radius: 5px;
}

.wavy-line:after {
	content: "";
	background-color: var(--colorGray1);
	position: absolute;
	width: 15px;
	height: 20px;
	margin-left: -8px;
	margin-top: 10px;
	border-radius: 5px;
}

@media only screen and (max-width: 600px) {
	.iris:after {
		content: "";
		position: absolute;
		background-color: var(--colorWhite);
		margin-top: 7px;
		margin-left: -2px;
	}
  }


/* =================== 03: GEEK ================= */

.geek-emoji {
	background-color: var(--colorOrange1);
	width: 96px;
	height: 96px;
	border-radius: 50px;
	margin-top: 65px;
}

.geek-emoji:after {
	content: "";
	position: absolute;
	background-color: var(--colorYellow1);
	margin-left: -40px;
	width: 96px;
	height: 96px;
	border-radius: 50px;
}

.geek-emoji-face {
	margin-left: -5px;
}

.geek-emoji-eyes-left {
	position: absolute;
	background-color: var(--colorWhite);
	width: 30px;
	height: 30px;
	border-radius: 50px;
	margin-left: 30px;
	margin-top: 20px;
	z-index: 2;
}

.geek-emoji-eyes-left:after {
	content: "";
	position: absolute;
	background-color: var(--colorBlack1);
	width: 25px;
	height: 25px;
	border-radius: 50px;
	margin-left: -12px;
	margin-top: 2.5px;
	z-index: 2;
}

.geek-emoji-eyes-right {
	position: absolute;
	background-color: var(--colorWhite);
	width: 30px;
	height: 30px;
	border-radius: 50px;
	margin-left: 65px;
	margin-top: 20px;
	z-index: 2;
}

.geek-emoji-eyes-right:after {
	content: "";
	position: absolute;
	background-color: var(--colorBlack1);
	width: 25px;
	height: 25px;
	border-radius: 50px;
	margin-left: -12px;
	margin-top: 2.5px;
	z-index: 2;
}

.geek-emoji-iris-left {
	position: absolute;
	background-color: var(--colorWhite);
	width: 7px;
	height: 7px;
	border-radius: 50px;
	margin-top: 17px;
	margin-left: 15px;
	z-index: 3;
}

.geek-emoji-iris-left:after {
	content: "";
	position: absolute;
	background-color: var(--colorWhite);
	width: 13px;
	height: 10px;
	border-radius: 50px;
	margin-top: -11px;
	margin-left: -12px;
	z-index: 5;
	transform: rotate(-20deg);
}

.geek-emoji-iris-right {
	position: absolute;
	background-color: var(--colorWhite);
	width: 7px;
	height: 7px;
	border-radius: 50px;
	margin-top: 17px;
	margin-left: 15px;
	z-index: 3;
}

.geek-emoji-iris-right:after {
	content: "";
	position: absolute;
	background-color: var(--colorWhite);
	width: 13px;
	height: 10px;
	border-radius: 50px;
	margin-top: -11px;
	margin-left: -12px;
	z-index: 5;
	transform: rotate(-20deg);
}

.geek-emoji-nose {
	position: absolute;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 16px solid var(--colorOrange1);
	margin-top: 35px;
	margin-left: 54px;
	z-index: 3;
	border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.geek-emoji-mouth {
	position: absolute;
	background-color: var(--colorRed3);
	width: 20px;
	height: 30px;
	z-index: 4;
	border-radius: 5px 5px 25px 25px;
	margin-left: 53px;
	margin-top: 55px;
}

.geek-emoji-teeth {
	background-color: var(--colorWhite);
	border-radius: 0px 0px 5px 5px;
	width: 15px;
	height: 10px;
	z-index: 5;
	margin-left: 3px;
}

.geek-emoji-details {
	position: absolute;
	background-color: var(--colorOrange1);
	width: 5px;
	height: 5px;
	border-radius: 50px;
	margin-left: 40px;
	margin-top: 50px;
	z-index: 6;
	box-shadow: 
		-5px 7px 0px 0px var(--colorOrange1),
		5px 7px 0px 0px var(--colorOrange1),
		40px -0px 0px 0px var(--colorOrange1),
		35px 8px 0px 0px var(--colorOrange1),
		45px 6px 0px 0px var(--colorOrange1);
}

.shadow-geek {
	position: absolute;
	border-left: 175px solid transparent;
	border-right: 175px solid transparent;
	border-top: 200px solid var(--colorBlue4);
	margin-top: -50px;
	z-index: -2;
}

.shadow-detail-geek {
	position: absolute;
	background-color: var(--colorBlue4);
	width: 50px;
	height: 50px;
	margin-left: 190px;
	z-index: -1;
	border-radius: 50px;
	box-shadow: 
		-30px 30px 0px 0px var(--colorBlue4),
		30px -30px 0px 0px var(--colorBlue4),
		-60px 60px 0px 0px var(--colorBlue4),
		75px -50px 0px 0px var(--colorBlue4),
		
		-265px -50px 0px 0px var(--colorBlue4),
		-230px -40px 0px 0px var(--colorBlue4),
		-200px -5px 0px 0px var(--colorBlue4),
		-135px 55px 0px 0px var(--colorBlue4),
		-170px 30px 0px 0px var(--colorBlue4);
}

.geek-emoji-glasses {
	position: absolute;
	width: 30px;
	height: 30px;
	border: 5px solid var(--colorPurple7);
	border-radius: 50px;
	z-index: 10;
	margin-left: 23px;
	margin-top: 15px;
}

.geek-emoji-glasses:after{
	content: "";
	position: absolute;
	width: 30px;
	height: 30px;
	border: 5px solid var(--colorPurple7);
	border-radius: 50px;
	z-index: 10;
	margin-left: 20px;
	margin-top: -5px;
}

.geek-emoji-glasses-details {
	position: absolute;
	background-color:  var(--colorPurple7);
	width: 20px;
	height: 3px;
	border-radius: 10px;
	margin-top: 10px;
	margin-left: -20px;
}

.geek-emoji-glasses-details:after {
	content: "";
	position: absolute;
	background-color:  var(--colorPurple7);
	width: 10px;
	height: 10px;
	border-radius: 10px;
	margin-left: 40px;
}

.geek-emoji-glasses-details:before {
	content: "";
	position: absolute;
	background-color:  var(--colorPurple7);
	width: 10px;
	height: 3px;
	border-radius: 10px;
	margin-left: 80px;
}

.geek-emoji-pacman {
	position: absolute;
	background-color: var(--colorYellow1);
	width: 50px;
	height: 50px;
	margin-top: -180px;
	margin-left: -80px;
	border-radius: 50px;
}

.geek-emoji-pacman:after {
	content: "";
	position: absolute;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 30px solid var(--colorBlue4);
	rotate: -90deg;
	margin-top: 10px;
	margin-left: -5px;
	z-index: 3;
	border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.geek-emoji-pokeball {
	position: absolute;
	background-color: var(--colorWhite);
	width: 50px;
	height: 50px;
	border-radius: 50px;
	margin-top: -160px;
	margin-left: -20px;
}

.geek-emoji-pokeball:after {
	content: "";
	position: absolute;
	background-color: var(--colorRed1);
	width: 50px;
	height: 25px;
	border-radius: 25px 25px 0px 0px;
	margin-left: -25px;
}

.geek-emoji-detail {
	position: absolute;
	background-color: var(--colorBlack1);
	width: 100%;
	height:7px;
	z-index: 11;
	margin-top: 22px;
}

.geek-emoji-detail:after {
	content: "";
	position: absolute;
	background-color: var(--colorBlack1);
	width: 20px;
	height:20px;
	z-index: 11;
	margin-top: -5px;
	margin-left: -9px;
	border-radius: 50px;
}

.geek-emoji-detail:before {
	content: "";
	position: absolute;
	background-color: var(--colorWhite);
	width: 10px;
	height:10px;
	border-radius: 50px;
	z-index: 12;
	margin-left: -4px;
}

.geek-emoji-sword {
	position: absolute;
	background-color: var(--colorGreen3);
	width: 10px;
	height: 100px;
	z-index: 15;
	margin-top: -190px;
	margin-left: 50px;
	box-shadow: 0px 0px 15px 0px var(--colorGreen2);;
}

.geek-emoji-sword:after {
	content: "";
	position: absolute;
	background-color:var(--colorPurple7);
	width: 10px;
	height: 50px;
	margin-top: 55px;
	margin-left: -5px;
	z-index: 16;
}

/* =================== 04 : RAINBOW ================= */
.rainbow-block {
	margin-top: 60px;
	animation: rainbow-rotate 5s linear infinite;
}

.rainbow-wind {
	position: absolute;
	width: 50px;
	height: 50px;
	margin-left: -50px;
	margin-top: -50px;
}

.rainbow-wind:nth-child(1) .rainbow-triangle {
	position: absolute;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 50px solid var(--colorOrange1);
	transform: rotate(90deg);
	margin-top: -25px;
	margin-left: -25px;
	z-index: 2;
}

.rainbow-wind:nth-child(1) {
	background-color: var(--colorYellow1);
}

.rainbow-wind:nth-child(2) {
	background-color: var(--colorBlue4);
	margin-left: 0px;
}

.rainbow-wind:nth-child(2) .rainbow-triangle {
	position: absolute;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 50px solid var(--colorBlue5);
	transform: rotate(180deg);
	margin-top: 0px;
	margin-left: 0px;
	z-index: 2;
}

.rainbow-wind:nth-child(3) {
	background-color: var(--colorGreen2);
	margin-left: 0px;
	margin-top: 0px;
}

.rainbow-wind:nth-child(3) .rainbow-triangle {
	position: absolute;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 50px solid var(--colorGreen1);
	transform: rotate(90deg);
	margin-top: 25px;
	margin-left: -25px;
	z-index: 2;
}

.rainbow-wind:nth-child(4) {
	background-color: var(--colorPink4);
	margin-left: -50px;
	margin-top: 0px;
}

.rainbow-wind:nth-child(4) .rainbow-triangle {
	position: absolute;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 50px solid var(--colorRed2);
	transform: rotate(-180deg);
	margin-top: 0px;
	margin-left: -50px;
	z-index: 2;
}

.rainbow-line {
	background-color: var(--colorPurple5);
	width: 15px;
	height: 125px;
	border-radius: none;
	border-radius: 10px;
	margin-top: 20px;
}

.rainbow-details:nth-child(1) {
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: var(--colorYellow1);
	margin-left: -220px;
	margin-top: -40px;
	transform: rotate(40deg);
	z-index: 10;
	animation: rainbow-blink 2s linear infinite;
}

.rainbow-details:nth-child(2) {
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: var(--colorYellow1);
	margin-left: 250px;
	transform: rotate(40deg);
	z-index: 10;
	animation: rainbow-blink 4s linear infinite;
}

.rainbow-details:nth-child(3) {
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: var(--colorYellow1);
	margin-left: 100px;
	margin-top: 125px;
	transform: rotate(40deg);
	z-index: 10;
	animation: rainbow-blink 2s linear infinite;
}

@keyframes rainbow-blink {
	0% {
	  opacity: 1;
	}
	50% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }

@keyframes rainbow-rotate {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  

/* =================== 05 : POISONOUS ================= */
.poison-ball {
	background-color: var(--colorBlack1);;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	box-shadow: inset 0px -7px 0px var(--colorBlue7);
	border: 2px solid var(--colorBlack1);
}

.poison-eye-left {
	background-color: var(--colorWhite);
	position: absolute;
	width: 60px;
	height: 37px;
	border-radius: 0px 0px 50px 50px;
	border: 2px solid var(--colorBlack1);
	margin-left: -80px;
	margin-top: 25px;
	transform: rotate(20deg);
}

.poison-eye-left:after {
	content: "";
	position: absolute;
	width: 5px;
	height: 15px;
	background-color: var(--colorBlack1);
	border-radius: 50px;
	margin-top: 10px;
	margin-left: 15px;
}

.poison-eye-right {
	background-color: var(--colorWhite);
	position: absolute;
	width: 60px;
	height: 37px;
	border-radius: 0px 0px 50px 50px;
	border: 2px solid var(--colorBlack1);
	margin-left: 80px;
	margin-top: 25px;
	transform: rotate(-20deg);
}

.poison-eye-right:after {
	content: "";
	position: absolute;
	width: 5px;
	height: 15px;
	background-color: var(--colorBlack1);
	border-radius: 50px;
	margin-top: 10px;
	margin-left: -20px;
}

.poison-mouth {
	background-color: var(--colorRed1);
	position: absolute;
	width: 25px;
	height: 7px;
	margin-top: 70px;
	border-radius: 0px 0px 25px 25px;
	border: 2px solid var(--colorBlack1);
}

.poison-mouth:after {
	content: "";
	background-color: var(--colorPink4);
	position: absolute;
	width: 10px;
	height: 3px;
	border-radius: 20px;
	margin-top: 4px;
	margin-left: -5px;
}

.poison-teeth-left {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid transparent; 
	border-right: 7px solid transparent; 
	border-top: 13px solid var(--colorBlack1);
	margin-left: -2px;
	z-index: 2;
}

.poison-teeth-left:after {
	content: "";
	position: absolute;
	margin-left: -3px;
	margin-top: -13px;
	border-left: 3px solid transparent; 
	border-right: 5px solid transparent; 
	border-top: 10px solid var(--colorWhite);
}

.poison-teeth-right {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid transparent; 
	border-right: 7px solid transparent; 
	border-top: 13px solid var(--colorBlack1);
	margin-left: 16px;
	z-index: 2;
}

.poison-teeth-right:after {
	content: "";
	position: absolute;
	margin-left: -3px;
	margin-top: -13px;
	border-left: 3px solid transparent; 
	border-right: 5px solid transparent; 
	border-top: 10px solid var(--colorWhite);
}

.poison-cloud {
	position: absolute;
	width: 200px;
	aspect-ratio: 1;
	background: 
	  radial-gradient(farthest-side,var(--colorBlue4) 98%,#0000) 50%/50px 50px,
	  radial-gradient(farthest-side,var(--colorBlue4) 98%,#0000) 50%/50px 50px,
	  radial-gradient(farthest-side,var(--colorBlue4) 98%,#0000) 50%/80% 80%,
	  transparent;
	background-repeat: no-repeat;
	animation: poison-cloudAnim 3s infinite alternate;
	margin-top: -50px;
	z-index: -20;
  }
  @keyframes poison-cloudAnim {
	0%,
	30%  {background-position:50%,50%,50%}
	60%  {background-position:0 0,50%,50%}
	100% {background-position:50%,100% 100%,50%}
  }

  /* =================== 05 :GOLDEN ================= */

.golden-fish {
	background-color: var(--colorYellow1);
	width: 125px;
	height: 125px;
	border-radius: 100px;
}

.golden-fish:after {
	content: "";
	position: absolute;
	background-color: var(--colorYellow1);
	width: 100px;
	height: 25px;
	border-radius: 10px 0px 0px 50px;
	margin-left: -50px;
	transform: rotate(30deg);
}

.golden-fish-hands {
	position: absolute;
	background-color: var(--colorYellow1);
	width: 25px;
	height: 50px;
	border-radius: 100px;
	margin-left: 40px;
	margin-top: -25px;
	transform: rotate(30deg);
	z-index: -1;
}

.golden-fish-hands:after {
	content: "";
	position: absolute;
	background-color: var(--colorOrange1);
	width: 25px;
	height: 50px;
	border-radius: 100px;
	margin-left: 20px;
	margin-top: -35px;
	transform: rotate(-40deg);
}

.golden-fish-feets {
	position: absolute;
	background-color: var(--colorYellow1);
	width: 50px;
	height: 25px;
	border-radius: 100px;
	margin-left: -35px;
	margin-top: -85px;
	transform: rotate(30deg);
}

.golden-fish-feets:after {
	content: "";
	position: absolute;
	background-color: var(--colorYellow1);
	width: 50px;
	height: 25px;
	border-radius: 100px;
	margin-top: 20px;
	margin-left: -15px;
	transform: rotate(-60deg);
}

.golden-eye-left {
	position: absolute;
	background-color: var(--colorWhite);
	margin-left: 45px;
	margin-top: 20px;
	width: 50px;
	height: 50px;
	border-radius: 100px;
	z-index: 2;
}

.golden-eye-left:after {
	content: "";
	position: absolute;
	background-color: var(--colorBlack1);
	margin-top: 10px;
	width: 20px;
	height: 20px;
	border-radius: 100px;
	z-index: 2;
}

.golden-eye-right {
	position: absolute;
	background-color: var(--colorWhite);
	margin-left: 85px;
	margin-top: 20px;
	width: 50px;
	height: 50px;
	border-radius: 100px;
	z-index: -2;
}

.golden-eye-right:before {
	content: "";
	position: absolute;
	background-color: var(--colorBlack1);
	margin-top: 10px;
	margin-left: -5px;
	width: 20px;
	height: 20px;
	border-radius: 100px;
	z-index: -1;
}

.golden-mouth {
	position: absolute;
	background-color: var(--colorBlack1);
	width: 10px;
	height: 10px;
	border-radius: 100px;
	border: 5px solid var(--colorOrange1);
	margin-top: -60px;
	margin-left: 100px;
}

.golden-details, .golden-details1, .golden-details2 {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 100px;
	margin-top: -35px;
	margin-left: 30px;
	border: 2px solid var(--colorOrange1);
	z-index: 2;
}
.golden-details:after , .golden-details1:after, .golden-details2:after{
	content: "";
	position: absolute;
	width: 15px;
	height: 10px;
	background-color: var(--colorYellow1);
	margin-left: -7px;
	margin-top: -5px;
}

.golden-details1 {
	margin-top: -30px;
	margin-left: 70px;
}

.golden-details2 {
	margin-top: -20px;
	margin-left: 50px;
}

.golden-bubble {
	position: absolute;
	background-color: var(--colorBlue2);
	width: 15px;
	height: 15px;
	border-radius: 100px;
	margin-left: 150px;
	margin-top: -100px;
	box-shadow: 
		10px -30px 0px 5px var(--colorBlue2);
	animation: bubbleAnim  2s infinite;
}

  @keyframes bubbleAnim {
	0% {
		background-color: var(--colorBlue3);
	}
	50% {
		background-color: var(--colorBlue2);
		box-shadow: 
			10px -30px 0px 5px var(--colorBlue3);
	}
	100% {
		background-color: var(--colorBlue3);
		box-shadow: 
			10px -30px 0px 5px var(--colorBlue2);
	}
  }

.golden-shadow-fish {
	position: absolute;
	background-color: var(--colorBlue3);
	width: 100px;
	height: 20px;
	border-radius: 100px;
	margin-top: 155px;
}

/* =================== 07 : VIRUS ================= */
.virus-horse {
	margin-left: 100px;
}

.virus-horse-head {
	background-color: var(--colorPink1);
	width: 50px;
	height: 50px;
	border-radius: 25px 0px 10px 0px;
}

.virus-eyes {
	background-color: var(--colorBlack1);
	position: absolute;
	width: 5px;
	height: 10px;
	border-radius: 100px;
	margin-left: 30px;
	margin-top: 23px;
}

.virus-neck {
	background-color: var(--colorPink1);
	width: 35px;
	height: 35px;
	border-radius: 0px 0px 25px 0px;
}

.virus-horse-body {
	background-color: var(--colorPink1);
	position: absolute;
	width: 75px;
	height: 39px;
	margin-top: -39px;
	margin-left: -75px;
	border-radius: 100px 0px 0px 0px;
}

.virus-feet {
	background-color: var(--colorPink1);
	width: 30px;
	height: 40px;
	margin-left: -75px;
}

.virus-feet:after {
	content: "";
	position: absolute;
	background-color: var(--colorPink1);
	width: 30px;
	height: 45px;
	margin-left: 50px;
	margin-top: -5px;
}

.virus-feet:before {
	content: "";
	position: absolute;
	background-color: var(--colorPurple7);
	width: 45px;
	height: 50px;
	border-radius: 20px 20px 0px 0px;
	margin-top: -6px;
	margin-left: 10px;
	z-index: 2;
}

.virus-tail {
	background-color: var(--colorPink2);
	position: absolute;
	width: 50px;
	height: 35px;
	border-radius: 100px;
	margin-left: -90px;
	margin-top: -70px;
	z-index: -1;
}

.virus-tail:after {
	content: "";
	position: absolute;
	background-color: var(--colorPink2);
	position: absolute;
	width: 50px;
	height: 35px;
	border-radius: 100px;
	margin-left: -45px;
	margin-top: 11px;
	transform: rotate(-40deg);
	z-index: -1;
	border-radius: 25px 25px 100px 100px;
}

.virus-tail:before {
	content: "";
	position: absolute;
	background-color: var(--colorPink2);
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 100px;
	margin-left: 45px;
	margin-top: -70px;
	z-index: -1;
	border-radius: 100px 30px 25px 100px;
}

.virus-skate {
	position: absolute;
	background-color: var(--colorPink1);
	width: 150px;
	height: 20px;
	border-radius: 100px;
	margin-left: -110px;
	z-index: 3;
}

.virus-skate:after {
	content: "";
	position: absolute;
	background-color: var(--colorPink2);
	width: 150px;
	height: 20px;
	border-radius: 100px;
	margin-left: -60px;
}

.virus-skate::before {
	content: "";
	position: absolute;
	background-color: var(--colorPink1);
	width: 25px;
	height: 25px;
	border-radius: 100px;
	z-index: 4;
	margin-left: -45px;
	margin-top: 10px;
	box-shadow:
		90px 0px 0px 0px var(--colorPink1);
}

/* =================== 08 : Universe ================= */

.universe-head {
	background-color: var(--colorPink3);
	width: 91px;
	height: 88px;
	border-radius: 100px;
	margin-top: -30px;
}

.universe-head:after{
	content: "";
	position: absolute;
	background-color: var(--colorPink3);
	width: 123px;
	height: 96px;
	border-radius: 100px;
	margin-left: -65px;
	margin-top: 35px;
}

.universe-head:before{
	content: "";
	position: absolute;
	background-color: var(--colorPink3);
	width: 30px;
	height: 38px;
	border-radius: 100px;
	margin-left: -75px;
	margin-top: 25px;
}

.universe-hair {
	position: absolute;
	background-color: var(--colorBlack1);
	width: 60px;
	height: 60px;
	border-radius: 100px;
	z-index: -1;
	margin-top: -60px;
	margin-left: 40px;
	box-shadow: 
		20px 25px 0px -5px var(--colorBlack1),
		-40px -5px 0px 0px var(--colorBlack1),
		-80px 15px 0px 0px var(--colorBlack1),
		-95px 50px 0px 0px var(--colorBlack1),
		-80px 70px 0px 0px var(--colorBlack1)
		;
}

.universe-eyes {
	background-color: var(--colorBlack1);
	position: absolute;
	width: 35px;
	height: 35px;
	border-radius: 100px;
	margin-top: 20px;
	margin-left: 10px;
	z-index: 1;
	box-shadow: 
		0px 0px 0px 4px var(--colorWhite),
		40px 0px 0px 0px var(--colorBlack1),
		40px 0px 0px 4px var(--colorWhite);
}

.universe-nose {
	background-color: var(--colorPink3);
	position: absolute;
	margin-top: 43px;
	margin-left: 45px;
	width: 10px;
	height: 20px;
	z-index: 2;
	transform: rotate(20deg);
	border-radius: 2px;
}

.universe-nose:after {
	content: "";
	background-color: var(--colorPink2);
	position: absolute;
	width: 1px;
	height: 7px;
	margin-left: -1px;
	margin-top: 4px;
}

.universe-nose:before {
	content: "";
	background-color: var(--colorPink2);
	position: absolute;
	width: 1px;
	height: 7px;
	margin-left: 2px;
	margin-top: 4px;
}

.universe-eyebrows {
	background-color: var(--colorBlack1);
	width: 15px;
	height: 7px;
	position: absolute;
	border-radius: 100px;
	margin-left: 20px;
	margin-top: 7px;
	transform: rotate(-10deg);
}

.universe-eyebrows:after {
	content: "";
	background-color: var(--colorBlack1);
	width: 15px;
	height: 7px;
	position: absolute;
	border-radius: 100px;
	margin-left: 30px;
	margin-top: 7px;
	transform: rotate(20deg);
}

.universe-mouth {
	background-color: var(--colorPink5);
	position: absolute;
	width: 70px;
	height: 45px;
	z-index: 2;
	margin-top: 70px;
	margin-left: 10px;
	border-radius: 25px 25px 100px 100px;
}

.universe-mouth:after {
	content: "";
	background-color: var(--colorPink4);
	position: absolute;
	width: 40px;
	height: 25px;
	margin-top: 20px;
	margin-left: -20px;
	z-index: 2;
	border-radius: 25px 25px 100px 100px;
}

/* glow */
.universe-mouth:before {
	content: "";
	background-color: var(--colorPink4);
	position: absolute;
	width: 12px;
	height: 12px;
	margin-top: -17px;
	margin-left: -45px;
	z-index: 3;
	border-radius: 100px;
	box-shadow:
		80px 0px 0px 0px var(--colorPink4);
}

.universe-five-pointed-star:nth-child(1),  .universe-five-pointed-star:nth-child(2), .universe-star-tshirt{
	--star-color: var(--colorWhite);
	margin-top: 12px;
	margin-left: 3px;
	font-size: 160px;
	position: absolute;
	display: block;
	width: 0px;
	height: 0px;
	border-right: 16px solid transparent; 
	border-bottom: 11.2px solid var(--star-color); 
	border-left: 16px solid transparent; 
	transform: rotate(35deg);
	z-index: 3;
}

.universe-five-pointed-star:nth-child(2){
	margin-top: 12px;
	margin-left: 43px;
}

.universe-five-pointed-star:before, .universe-star-tshirt:before {
	border-bottom: 12.8px solid var(--star-color);
	border-left: 4.8px solid transparent;
	border-right: 4.8px solid transparent; 
	position: absolute;
	height: 0;
	width: 0;
	top: -7.2px;
	left: -10.4px;
	display: block;
	content: "";
	transform: rotate(-35deg);
}

.universe-five-pointed-star:after, .universe-star-tshirt:after {
	position: absolute;
	display: block;
	top: 0.48px; 
	left: -16.8px;
	width: 0;
	height: 0;
	border-right: 16px solid transparent; 
	border-bottom: 11.2px solid var(--star-color);
	border-left: 16px solid transparent; 
	transform: rotate(-70deg);
	content: "";
}

.universe-tshirt {
	background-color: var(--colorPink4);
	width: 100px;
	height: 85px;
	margin-left: -10px;
	margin-top: 20px;
}

.universe-tshirt:after {
	content: "";
	position: absolute;
	background-color: var(--colorPink4);
	width: 40px;
	height: 50px;
	margin-left: -90px;
	border-radius: 100px 0px 0px 25px;
	z-index: -2;
}

.universe-tshirt:before {
	content: "";
	position: absolute;
	background-color: var(--colorPink4);
	width: 40px;
	height: 50px;
	margin-left: 50px;
	border-radius: 0px 100px 25px 0px;
	z-index: -2;
}

.universe-arms {
	background-color: var(--colorPink3);
	position: absolute;
	margin-left: -35px;
	width: 35px;
	height: 50px;
	z-index: -3;
	margin-top: 35px;
}

.universe-arms:after {
	content: "";
	background-color: var(--colorPink3);
	position: absolute;
	margin-left: -35px;
	width: 35px;
	height: 50px;
	z-index: -2;
	margin-left: 115px;
}

.universe-star-tshirt {
	--star-color: var(--colorYellow1);
	margin-left: 40px;
	margin-top: 50px;
}

.steven-universe {
	margin-top: 30px;
	z-index: -1;
}

/* =================== 09 : Cosmos ================= */
.cosmos-pencil {
	height: 160px; 
	width: 80px;
	position: relative;
	z-index: 5;
}

.cosmos-pencil:before {
	content: "";
	position: absolute;
	height: 121px;
	width: 35px;
	left: -17.5px; 
	top: -2.5px;
	background: linear-gradient(
	  var(--colorGreen3) 90%,
	  #d2dfe8 0%
	) no-repeat,
	linear-gradient(
	  to right,
	  #f26c37 33.33%,
	  #eb852c 32.33%,
	  #eb852c 66.66%,
	  #f19f22 66.66%
	);
	background-size: 100% 60%, 100% 30%;
	background-position: 0 0, 0 50%; 
	border-radius: 5px 5px 0 0;
  }
  
.cosmos-pencil:after {
	content: "";
	position: absolute;
	height: 43.5px;
	width: 35px; 
	left: -17.5px;
	bottom: -1.5px;
	background: linear-gradient(
	  #f4c09b 70%,
	  #0d2436 70%
	);
	clip-path: polygon(
	  0 0,
	  100% 0,
	  50% 100%
	);
}

.cosmos-eye {
	background-color: var(--colorWhite);
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 100px;
	margin-left: -15px;
	margin-top: 5px;
}

.cosmos-eye:after {
	content: "";
	background-color: var(--colorWhite);
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 100px;
	margin-left: 10px;
}

.cosmos-pupil {
	background-color: var(--colorBlack1);
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 100px;
	margin-top: 7px;
	margin-left: 5px;
	box-shadow: 
		0.2px 0px 0px 3px var(--colorGreen2);
}

.cosmos-pupil:after {
	content: "";
	background-color: var(--colorBlack1);
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 100px;
	margin-top: 0px;
	margin-left: 15px;
	z-index: 2;
	box-shadow: 
		0.2px 0px 0px 3px var(--colorGreen2);
}

.cosmos-crown {
	position: absolute;
	width: 0;
	height: 0px;
	border-bottom: 10px solid var(--colorYellow1);
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	margin-top: -20px;
	margin-left: -10px;
  }

.cosmos-crown:after, .cosmos-crown:before {
	position: absolute;
	content: "";
	width: 0px;
  }

.cosmos-crown:before {
	border-bottom: 10px solid var(--colorYellow1);
	border-right: 10px solid transparent;
	left: -10px;
	top: 0;
  }

.cosmos-crown:after {
	border-bottom: 10px solid var(--colorYellow1);
	border-left: 10px solid transparent;
	top: 0;
  }

.cosmos-face {
	margin-top: 5px;
	margin-left: -1.5px;
}

.cosmos-eyebrows {
	background-color: var(--colorBlack1);
	position: absolute;
	width: 14px;
	height: 5px;
	transform: rotate(10deg);
	margin-left: 4px;
	margin-top: -2px;
}

.cosmos-eyebrows:after {
	content: "";
	background-color: var(--colorBlack1);
	position: absolute;
	width: 14px;
	height: 5px;
	transform: rotate(-20deg);
	margin-left: -26px;
	margin-top: 3.5px;
}

/* =================== 10 - Dreams ================= */
.dream-clouds {
	background-color: var(--colorWhite);
	width: 100px;
	height: 100px;
	position: absolute;
	border-radius: 100px;
	box-shadow: 
		-20px 50px 0px -30px var(--colorWhite),
		-30px 40px 0px -30px var(--colorWhite),
		-50px 20px 0px -30px var(--colorWhite),
		-50px -10px 0px -30px var(--colorWhite),
		-40px -40px 0px -30px var(--colorWhite),
		-20px -50px 0px -30px var(--colorWhite),
		0px -60px 0px -30px var(--colorWhite),
		30px -50px 0px -30px var(--colorWhite),
		50px -30px 0px -30px var(--colorWhite),
		60px -10px 0px -30px var(--colorWhite),
		50px 20px 0px -30px var(--colorWhite),
		30px 40px 0px -30px var(--colorWhite),
		10px 50px 0px -30px var(--colorWhite),
		-50px 100px 0px -35px var(--colorWhite),
		-100px 50px 0px -25px var(--colorWhite);
}

/* =================== 11 - Creature  ================= */
.creature {
	background-color: var(--colorPink5);
	width: 150px;
	height: 200px;
	border-radius: 100px;
	margin-top: -50px;
}

.creature:after {
	content: "";
	background-color: var(--colorPink6);
	position: absolute;
	width: 50px;
	height: 150px;
	border-radius: 100px;
	margin-left: -90px;
	margin-top: 20px;
	transform: rotate(30deg);
	z-index: -2;
}

.creature:before {
	content: "";
	background-color: var(--colorPink6);
	position: absolute;
	width: 50px;
	height: 150px;
	border-radius: 100px;
	margin-left: 40px;
	margin-top: 20px;
	transform: rotate(-30deg);
	z-index: -2;
}

.feet {
	background-color: var(--colorPink6);
	position: absolute;
	width: 50px;
	height: 70px;
	border-radius: 20px;
	margin-top: 160px;
	margin-left: 20px;
	z-index: -1;
}

.feet:after {
	content: "";
	background-color: var(--colorPink6);
	position: absolute;
	width: 50px;
	height: 70px;
	border-radius: 20px;
	margin-left: 30px;
	z-index: -1;
}

.eyes {
	background-color: var(--colorWhite);
	position: absolute;
	width: 55px;
	height: 55px;
	border-radius: 100px;
	margin-top: 25px;
	margin-left: 50px;
}

.pupil {
	background-color: var(--colorBlue3);
	position: absolute;
	width: 40px;
	height: 40px;
	margin-top: 8px;
	margin-left: 8px;
	border-radius: 100px;
}

.pupil:after {
	content: "";
	background-color: white;
	position: absolute;
	width: 20px;
	height: 20px;
	margin-left: -20px;
	margin-top: -5px;
	border-radius: 100px;
	box-shadow: 
		10px 15px 0px 5px var(--colorBlack1);
}

.mouth {
	background-color: var(--colorPurple1);
	position: absolute;
	width: 70px;
	height: 27px;
	border-radius: 15px 15px 100px 100px;
	margin-top: 80px;
	margin-left: -10px;
}

.mouth:after {
	content: "";
	background-color: var(--colorPink4);
	position: absolute;
	width: 30px;
	height:  30px;
	border-radius: 15px 15px 100px 100px;
	margin-top: 10px;
	margin-left: -15px;

}

/* =================== 13 - Amethyst  ================= */
.amethyst {
	position: absolute;
	top: 70px;
}

.face-amethyst {
	background-color: var(--colorPurple);
	width: 120px;
	height: 113px;
	border-radius: 50%;
}

.face-amethyst .eyes {
	background-color: transparent;
	right: 30%;
}

.face-amethyst .eyes-left {
	position: absolute;
	background-color: var(--colorWhite);
	width: 30px;
	height: 27px;
	border-radius: 50%;
	right: 35px;
}

.face-amethyst .eyes-left:after {
	content: "";
	position: absolute;
	background-color: var(--colorBlack1);
	width: 8px;
	height: 10px;
	border-radius: 50%;
	top: 8px;
	left: 12px;
}

.face-amethyst .eyes-right {
	position: absolute;
	background-color: var(--colorWhite);
	width: 30px;
	height: 27px;
	border-radius: 50%;
	left: 40px;
}

.face-amethyst .eyes-right:after  {
	content: "";
	position: absolute;
	background-color: var(--colorBlack1);
	width: 8px;
	height: 10px;
	border-radius: 50%;
	top: 8px;
	left: 12px;
}

.face-amethyst .nose {
	position: absolute;
	background-color: transparent;
	width: 21px;
	height: 15px;
	top: 50px;
	left: 45px;
	border-radius: 50%;
	border: 3px solid var(--colorBlack1);
}

.face-amethyst .nose:after {
	content: "";
	position: absolute;
	background-color: var(--colorPurple);
	width: 30px;
	height: 20px;
	right: -5px;
	top: 7px;
}

.face-amethyst .mouth-amethyst {
	position: absolute;
	background-color: transparent;
	top: 70px;
	left: 40px;
	width: 30px;
	height: 25px;
	border: 3px solid var(--colorBlack1);
	border-radius: 50%;
}

.face-amethyst .mouth-amethyst:after {
	content: "";
	position: absolute;
	background-color: var(--colorPurple);
	top: 5px;
	left: -5px;
	width: 40px;
	height: 13px;
}

.face-amethyst .mouth-amethyst:before {
	content: "";
	position: absolute;
	background-color: var(--colorBlack1);
	top: 10px;
	left: 5px;
	width: 20px;
	height: 3px;
	border-radius: 5px;
	z-index: 1;
}

.hair-amethyst {
	position: absolute;
	width: 175px;
	height: 125px;
	border-radius: 50%;
	background-color: #DACEF4;
	z-index: -1;
	top: -30px;
	left: -30px;
}

.hair-amethyst:after {
	content: "";
	position: absolute;
	width: 256px;
	height: 174px;
	border-radius: 50%;
	background-color: #DACEF4;
	z-index: -1;
	top: 20px;
	left: -40px;
}

.details-hair-amethyst {
	position: absolute;
	width: 70px;
	height: 161px;
	transform: rotate(-20deg);
	background-color: var(--colorPurple7);
	z-index: 1;
	left: 185px;
	border-radius: 0px 100%;
}

.details-hair-amethyst2 {
	position: absolute;
	width: 70px;
	height: 161px;
	transform: rotate(20deg);
	background-color: var(--colorPurple7);
	z-index: 1;
	left: -80px;
	border-radius: 100% 0px;
}

.hair-amethyst-front {
	position: absolute;
	width: 113.92px;
	height: 46.085px;
	background-color: #DACEF4;
	border-radius: 50%;
	transform: rotate(45deg);
	z-index: 3;
	left: 45px;
}

.hair-amethyst-front:after {
	content: "";
	position: absolute;
	width: 113.92px;
	height: 46.085px;
	background-color: #DACEF4;
	border-radius: 50%;
	transform: rotate(70deg);
	z-index: 3;
	left: -70px;
	top: 90px;
}
